{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    {# templates/register/index.html.twig #}

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <button type="submit">Registrate!</button>
    {{ form_end(form) }}
{% endblock %}
